body {
    padding-top: 60px;
    background-color: #252121;
    font-size: 150%;
    color: white;
    text-align: left;
}
/* ===== TEXT ===== */
h1 {
    text-align: center;
}
h1 { font-size: 200%; }
h2 { font-size: 175%; }
h3 { font-size: 150%; }
h4 { font-size: 140%; }
h5 { font-size: 125%; }
h6 { font-size: 120%; }
h7 { font-size: 110%; }
