body {
    padding-top: 60px;
    background-color: #252121;
    font-size: 150%;
    color: white;
    text-align: left;
}
/* ===== TEXT ===== */
h1, h3, h5, details > summary {
    text-align: center;
}
h1 {
    font-family: "Papyrus";
}
h1 { font-size: 200%; }
h2 { font-size: 175%; }
h3 { font-size: 150%; }
h4 { font-size: 140%; }
h5 { font-size: 125%; }
h6 { font-size: 110%; }
/* ===== IMAGES ===== */
.img_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.img_deco {
    width: 100%;
    height: auto;
}
/* ===== ICON ===== */
.icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}
